*{
    margin: 0;
    padding: 0;
}
body{
    opacity: 100%;
}
.container{
    height: 100vh;
    width: 100vw;
    background:url(calbg.jpg);
    
}
.heading{
    background-color: rgba(0, 0, 0, 0.548);
    padding:12px;
    text-align:center;
    margin-bottom: 10px;
    
}
    h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(110 230 11);
    margin-bottom: 10px;
}
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(110 230 11);
    font-size: 18px;
}
.colm{
    border: 2px solid red;
    
}
.row input{
    font-size: medium;
    height: 10px;
    width: 245px;
    padding: 18px;
    margin: 15px;
    border-radius: 10px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.btn{
    font-size: medium;
    height: 65px;
    width: 61px;
    padding: 23px;
    margin:5px;
    cursor: pointer;
    background-color: rgb(48, 101, 107);
    color: rgb(110, 230, 11);
    border-radius: 10px;
}